* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #111;
  font-family: 'Righteous', cursive;
}

.jumbotron {
  padding: 10px 32px 10px 32px;
  background-color: #111;
  color: #eee;
}

.alerts {
  margin: 10px 0px 10px 0px;
}

.square {
  width: 30%;
  padding-bottom: 30%;
  justify-content: center;
  margin: 1.66%;
  border-radius: 50%;
  border: 1px solid;
}

.square.blue {
  margin-right: 60px;
  background-color: #2f6690;
}

.square.yellow {
  background-color: #e0a458;
}

.square.green {
  margin-right: 60px;
  background-color: #194805;
}

.square.red {
  background-color: #6b0f1a;
}

.container {
  max-width: 60%;
}

.yellow.clicked {
  background-color: yellow;
}

.green.clicked {
  background-color: rgb(11, 211, 11);
}

.red.clicked {
  background-color: red;
}

.blue.clicked {
  background-color: blue;
}

.game-counter {
  color: #eee
}

@media (max-width: 768px) {
  .container {
    margin-top: 70px;
    max-width: 100%;
    max-height: 600px;
  }
}

/* @media (max-width: 412px) {
  .container {
    margin-top: 100px;
    max-height: 800px;
  }
} */
